.number {

  .secondary-value-container {
    margin-top: 10px;
  }

  .secondary-value {
    font-size: 22px;
    margin-left: 5px;

    font-weight: bold;
    text-shadow: 1px 1px 1px #330, -1px -1px 1px #330;
  }

  .green-arrow-up, .green-arrow-down, .red-arrow-down, .red-arrow-up{
    display: inline-block;
    margin-bottom: 5px;
  }

  .green-arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #8ec15c;
  }

  .red-arrow-down {
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #D26771;
  }

  .red-arrow-up {

    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #D26771;
  }

  .green-arrow-down {
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #8ec15c;
  }

}